.informations h1,
.user p,
.user p span {
    transition: .3s ease;
}


.informations h1:hover,
.user span:hover {
    color: var(--nft-color);
    cursor: pointer;
}

.image:hover {
    cursor: pointer;
    background-color: var(--nft-color);
}

.image:hover img {
    opacity: 50%;
}

.image:hover .eye {
    opacity: 100%;
}