@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --text-color: hsl(215, 51%, 70%);
    --nft-color: hsl(178, 100%, 50%);
    --main-background-color: hsl(217, 54%, 11%);
    --card-background-color: hsl(216, 50%, 16%);
    --line-color: hsl(215, 32%, 27%);
    --name-color: hsl(0, 0%, 100%)
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    font-family: "Outfit";
}

.card {
    background-color: var(--card-background-color);
    color: var(--name-color);
    width: 46.5rem;
    height: 80rem;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin: 20px;
}
.card .image{
    display: flex;
    flex-direction: column;
    border-radius: 1.3rem;
    overflow: hidden;
    position: relative;
}

.image .eye{
    position: absolute;
    height: 6.2rem;
    width: 6.2rem;
    top: 43.3%;
    right: 42.3%;
    background-image: url(../images/icon-view.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: 0.3s ease;
}

.info{
    font-size: 2.5rem;
}
.info .informations {
    margin: 0 0.1em 0 0.1em;
}


.info .informations h1 {
    font-size: 2.9rem;
    font-weight: 650;
    color: var(--name-color);
}

.description {
    color: var(--text-color);
    margin-top: 2.3rem;
    font-weight: 300;
    line-height: 3.3rem;
}

.nft {
    color: var(--text-color);
    font-size: 2.2rem;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 1.2px solid var(--line-color)
}

.nft .value {
    color: var(--nft-color);
}

.nft .value::before,
.nft .time::before {
    content: "";
    height: 2.3rem;
    width: 2.3rem;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: -0.15em;
}

.nft .value::before {
    background-image: url(../images/icon-ethereum.svg);
}

.nft .time::before {
    background-image: url(../images/icon-clock.svg);
    margin-right: 1rem;
}

.user{
    padding: 2rem 0 0 0;
    font-size: 2.2rem;
}
.user p{
    color: var(--text-color);
}

.user p::before{
    content: "";
    height: 4.2rem;
    width: 4.2rem;
    background-image: url(../images/image-avatar.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    border: 1px solid var(--name-color);
    border-radius: 100%;
    vertical-align: -.6em;
    margin-right: 2rem;
}

.user p span{
    color: var(--name-color);
}

/*.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*/